.button {
  padding: var(--s-4) var(--s-24);
  border: 1px solid var(--color-accent-bleu);
  border-radius: var(--s-12);
  background-color: var(--color-white-100);
  &__icon {
    height: var(--s-20);
    width: var(--s-20);
    fill: var(--color-accent-bleu);
  }
  &:hover {
    background-color: var(--color-white-300);
  }
}
